**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
**/.aws
**/.ssh
Dockerfile
Dockerfile.*
README.md
docker-compose.yml
.dockerignore
**/.DS_Store
**/venv
**/env

**/node_modules

**/uploads/
**/cache/
**/generated/