extends layout/base

block content
    .container.d-flex.min-vh-100.flex-column
        .row.p-2
            include layout/navbar
        .row.p-2
            include layout/inputs
        
        .row.p-2.flex-grow-1
            include layout/text

        .row.p-2
            include layout/footer