doctype html

html(lang="en")
    head 
        include layout/header
    body
        .display-none
            include layout/templates
        block content
        include layout/modals
    
    script(src=static+"/js/mangler.min.js")