footer.footer
    .row
        .col-6
            span.unselectable= "Mangler " + version
        .col-6.d-flex.justify-content-end
            span.unselectable.text-right.
                &lt;/&gt; with ❤ by #[a(href="https://github.com/Monczak") Monczak]