include mixins/inputs

.panel
    .row
        .col-12.col-md-4
            .file-badge-container#file-badge-container
                +fileBadge("Test 1")
                +fileBadge("Test 2")
                +fileBadge("Test 3")
        .col-12.col-md-6
            +textInput("test")
        .col-12.col-md-2
            p Submit