include mixins/inputs

.panel
    .row
        .col-12.col-md-4
            .hstack.p-2.d-flex.align-middle
                button.btn#open-file-panel-btn.p-2
                    i.bi.bi-ib.bi-chevron-right

                span.d-inline-block(tabindex="0", data-bs-toggle="tooltip", data-bs-placement="top", data-bs-custom-class="tooltip", title="Click the arrow on the left to upload files!")
                    span.text-secondary.unselectable.p-2#no-files-uploaded-text No files uploaded
                
                .file-badge-container.p-2#file-badge-container
        .col-12.col-md-6
            +textInput("test")
        .col-12.col-md-2
            p Submit

    .row.file-panel#file-panel
        .col-auto.p-2.d-flex.align-items-center
            .dropdown
                if examples|length > 0
                    button.btn.dropdown-toggle#dropdown-examples(type="button", data-bs-toggle="dropdown", aria-haspopup="true", aria-expanded="false").
                        Examples
                else
                    span.d-inline-block(tabindex="0", data-bs-toggle="tooltip", data-bs-placement="top", data-bs-custom-class="tooltip", title="No examples available")
                        button.btn.dropdown-toggle.disabled#dropdown-examples(type="button", data-bs-toggle="dropdown", aria-haspopup="true", aria-expanded="false").
                            Examples
                .dropdown-menu(aria-labelledby="dropdown-examples")
                    each example in examples
                        .dropdown-item(href="#").p-2
                            span= example["title"]
                            br
                            span.small= example["author"] + ", " + example["lang"]
                            br
                            each tag in example["tags"]
                                span.small-badge= tag 
        
        .col-auto.p-2.flex-fill.align-items-center
            form
                fieldset.file-drop-area.hstack.text-center.d-flex.justify-content-left
                    input.p-2.position-absolute.invisible#upload-file-input(type="file", multiple, accept="text/plain")
                    
                    label.p-2.btn.btn-upload(for="upload-file-input") Choose files
                    span.p-2.unselectable.text-secondary Drag and drop files here
