.modal.fade#error-modal(tabindex=-1)
    .modal-dialog
        .modal-content
            .modal-header
                h1.modal-title.fs-5 Something went wrong
                button.btn-close.btn-close-white(data-bs-dismiss="modal")
            .modal-body
                p#error-desc Error description
            .modal-footer
                button.btn(data-bs-dismiss="modal") Got it
