.panel-darker.text-area#text-area
    span.seed-text#seed-input(contenteditable="true", placeholder="Enter seed here...", spellcheck="false") SeedSeedSeed
    span.generated-text(spellcheck="false") GeneratedGenerated