.panel-darker.text-area#text-area
    .overlay.fade.d-flex.flex-column.align-items-top.justify-content-center
        .d-flex.align-items-center.justify-content-center
            span.p-2#mangle-progress-info Progress info
            .progress.w-25
                .progress-bar#mangle-progress.w-50(role="progressbar", aria-valuenow="50", aria-valuemin="0", aria-valuemax="100")
        .flex-fill


    span.seed-text#seed-input(contenteditable="true", placeholder="Enter seed here...", spellcheck="false")
    span.generated-text#generated-text(spellcheck="false")