.panel-darker.text-area#text-area
    .overlay.fade
    span.seed-text#seed-input(contenteditable="true", placeholder="Enter seed here...", spellcheck="false")
    span.generated-text#generated-text(spellcheck="false")